enemy_color: "red"
#enemy_color: "blue"

#####-----神经网络参数-----#####
yolo_name: yolov5
classify_model: assets/tiny_resnet.onnx
yolo11_model_path: assets/yolo11.xml
yolov8_model_path: assets/yolov8.xml
yolov5_model_path: assets/yolov5.xml
device: CPU
min_confidence: 0.8
use_traditional: true

#####-----ROI-----#####
roi: 
  x: 420
  y: 50
  width: 600
  height: 600

use_roi: false

#####-----传统方法参数-----#####
threshold: 150
max_angle_error: 45 # degree
min_lightbar_ratio: 1.5
max_lightbar_ratio: 20
min_lightbar_length: 8
min_armor_ratio: 1
max_armor_ratio: 5
max_side_ratio: 1.5
max_rectangular_error: 25 # degree

#####-----tracker参数-----#####
min_detect_count: 5
max_temp_lost_count: 15
outpost_max_temp_lost_count: 75

#####-----aimer参数-----#####
yaw_offset:  -2.1 # degree -2.5 right -
pitch_offset: 1.5 # degree 2
comming_angle: 55 # degree
leaving_angle: 20 # degree
decision_speed: 7 # rad/s
high_speed_delay_time: 0.0 # s
low_speed_delay_time: 0.0 # s planner use this value

#####-----shooter参数-----#####
first_tolerance: 3 # 近距离射击容差，degree
second_tolerance: 2 # 远距离射击容差，degree
judge_distance: 2 #距离判断阈值
auto_fire: true # 是否由自瞄控制射击
 
camera_name: "hikrobot"
exposure_ms: 2.5
#gain: 16.9
gain: 2
vid_pid: "2bdf:0001"

#  1  0  0
#  0  1  0
#  0  0  1
R_gimbal2imubody: [1, 0, 0, 0, 1, 0, 0, 0, 1]
# 标定 ./build/calibrate_camera assets/img_with_q configs/calibration.yaml
# ./build/capture configs/calibration.yaml

#original_statics
# 重投影误差: 0.1820px
# camera_matrix: [1785.4881526822305, 0, 672.4806478241826, 0, 1785.026019470562, 559.89603224794314, 0, 0, 1]
# distort_coeffs: [-0.076005079619881746, 0.11182817466388446, 0.0005362204787722057, -0.0027546300984895122, 0]
#camera_matrix: [2356.72, 0, 750.6, 0, 2370.92, 511.36, 0, 0, 1]
#distort_coeffs: [-0.029, -0.289, -0.0063, -0.0003, 0]

# 相机同理想情况的偏角: yaw1.44 pitch-7.28 roll0.96 degree
# 标定板到世界坐标系原点的水平距离: 1.13 m
# 标定板同竖直摆放时的偏角: yaw7.

# R_camera2gimbal: [-0.027182119030230909, -0.12616154330853446, 0.991637230742661 pitch13.92 roll-0.46 degree9183, -0.99949106557517331, 0.019998323121329122, -0.024853106601381177, -0.016695575474690555, -0.99180811252093692, -0.12664093215554434]
# t_camera2gimbal: [0.13160669975045827, 0.10377721766577375, 0.024908271912914642]
#R_camera2gimbal: [-0.027182119030230909, -0.12616154330853446, 0.991637230742661, -0.99949106557517331, 0.019998323121329122, -0.024853106601381177, -0.016695575474690555, -0.99180811252093692, -0.12664093215554434]
#t_camera2gimbal: [0.13160669975045827, 0.10377721766577375, 0.024908271912914642]

# #10.8
# # 重投影误差: 0.0702px
# camera_matrix: [2336.3136996660851, 0, 694.85566287168956, 0, 2336.7953075420587, 581.6680177720516, 0, 0, 1]
# distort_coeffs: [-0.063486354673188208, 0.073172977184996893, 0.00040721475783536682, -0.0020790587281971076, 0]

# # # 相机同理想情况的偏角: yaw-1.17 pitch0.40 roll-0.10 degree
# # R_camera2gimbal: [0.020439200198691498, 0.0070044519458882376, 0.99976656112723405, -0.99978968944744329, -0.001535199495128925, 0.020450428775335778, 0.0016780851655188479, -0.99997429007722383, 0.0069716005859032926]
# # t_camera2gimbal: [0.115113638394087, 0.0078378987140867926, -0.044029756330290694]

# # 相机同理想情况的偏角: yaw-0.38 pitch0.61 roll0.01 degree
# # 标定板到世界坐标系原点的水平距离: 1.71 m
# # 标定板同竖直摆放时的偏角: yaw-0.06 pitch0.72 roll0.01 degree
# R_camera2gimbal: [0.006579760150768648, 0.010629532665952755, 0.99992185684265444, -0.99997834025994148, 0.00023045775210685251, 0.0065776819775071891, -0.00016052205796427251, -0.99994347836491637, 0.010630818789771892]
# t_camera2gimbal: [0.10706889780243246, 0.005538290559483035, -0.040263048818448381]


# #10.16
# 重投影误差: 0.0447px
#camera_matrix: [2340.661567127544, 0, 700.06489037588619, 0, 2340.9437532322354, 566.6079025555232, 0, 0, 1]
#distort_coeffs: [-0.05808452117809166, 0.07788935143363003, 0.00061634394527499965, -0.0007302501646552109, 0]

# # 相机同理想情况的偏角: yaw0.89 pitch0.08 roll178.41 degree
# # 标定板到世界坐标系原点的水平距离: 2.08 m
# # 标定板同竖直摆放时的偏角: yaw19.07 pitch-1.84 roll179.03 degree
# R_camera2gimbal: [0.015603708152345772, -0.0010183461327402821, 0.99987773615730158, 0.99948811317966635, 0.027948394748152038, -0.015569163225809798, -0.027929122872852152, 0.99960884860136923, 0.0014539234497531535]
# t_camera2gimbal: [0.13736444867265249, -0.0024387862390420553, 0.057903139402793957]

#10.162

# 相机同理想情况的偏角: yaw-0.89 pitch-0.08 roll-1.60 degree
# 标定板到世界坐标系原点的水平距离: 2.08 m
# 标定板同竖直摆放时的偏角: yaw-19.07 pitch1.84 roll-0.98 degree
#R_camera2gimbal: [0.015603708152345772, -0.0010183461327402821, 0.99987773615730158, -0.99948811317966635, -0.027948394748152038, 0.015569163225809798, 0.027929122872852152, -0.99960884860136923, -0.0014539234497531535]
#t_camera2gimbal: [0.13736444867265249, 0.0024387862390420553, -0.057903139402793957]


#11.14


# 重投影误差: 0.0603px
camera_matrix: [2318.6413406198758, 0, 706.00988840107982, 0, 2319.0841782597381, 576.70272260508466, 0, 0, 1]
distort_coeffs: [-0.062548620636062979, 0.078086423617440809, 0.00065637201752308586, -0.00051893002090232232, 0]

# 相机同理想情况的偏角: yaw-0.46 pitch-0.95 roll0.78 degree
# 标定板到世界坐标系原点的水平距离: 2.22 m
# 标定板同竖直摆放时的偏角: yaw34.85 pitch5.17 roll0.45 degree
R_camera2gimbal: [0.0078408519555110585, -0.016666310858230417, 0.99983036317316742, -0.99987702738297002, 0.013449140431189924, 0.0080654034900839115, -0.013581279483446389, -0.99977065105154928, -0.016558808639318107]
t_camera2gimbal: [0.17895111220511642, 0.0081211501404892337, -0.06908363097344733]




#####-----cboard参数-----#####
# CAN通信配置 (已弃用)
# quaternion_canid: 0x100
# bullet_speed_canid: 0x101
# send_canid: 0xff
# can_interface: "can0"

# 串口通信配置 (新)
serial_device: "/dev/ttyUSB0"  # 或 /dev/ttyACM0 或 /dev/gimbal (如配置了udev规则)
serial_baudrate: 460800

#####-----gimbal参数-----#####
com_port: "/dev/gimbal"
yaw_kp: 0
yaw_kd: 0
pitch_kp: 0
pitch_kd: 0

#####-----planner-----#####
fire_thresh: 0.0035

max_yaw_acc: 50
Q_yaw: [9e6, 0]
R_yaw: [1]

max_pitch_acc: 100
Q_pitch: [9e6, 0]
R_pitch: [1]

#####-----buff_detector参数-----#####
model: "assets/yolo11_buff_int8.xml"

#####-----buff_aimer参数-----#####
fire_gap_time: 0.700   # s
predict_time: 0.120     # s