enemy_color: "red"
# enemy_color: "blue"


#####-----神经网络参数-----#####
yolo_name: yolov5
classify_model: assets/tiny_resnet.onnx
yolo11_model_path: assets/yolo11.xml
yolov8_model_path: assets/yolov8.xml
yolov5_model_path: assets/yolov5.xml
device: CPU
min_confidence: 0.8
use_traditional: true

#####-----ROI-----#####
roi: 
  x: 420
  y: 50
  width: 600
  height: 600

use_roi: false

#####-----工业相机参数-----#####
camera_name: "hikrobot"
exposure_ms: 2.5
gain: 16.9
vid_pid: "2bdf:0001"

#####-----USB相机参数-----#####
image_width: 640
image_height: 360
new_image_width: 1280
new_image_height: 720
fov_h: 87.7
fov_v: 56.7 
new_fov_h: 67
new_fov_v: 40.9
usb_frame_rate: 100
usb_exposure: 315 #1-80000______250
usb_gamma: 160
usb_gain: 10 #0-96


#####-----传统方法参数-----#####
threshold: 150
max_angle_error: 45 # degree
min_lightbar_ratio: 1.5
max_lightbar_ratio: 20
min_lightbar_length: 8
min_armor_ratio: 1
max_armor_ratio: 5
max_side_ratio: 1.5
max_rectangular_error: 25 # degree
min_confidence: 0.8

#####-----cboard参数-----#####
# CAN通信配置 (已弃用)
# quaternion_canid: 0x100
# bullet_speed_canid: 0x101
# send_canid: 0xff
# can_interface: "can0"

# 串口通信配置 (新)
serial_device: "/dev/ttyUSB0"  # 或 /dev/ttyACM0 或 /dev/gimbal (如配置了udev规则)
serial_baudrate: 460800

#####-----gimbal参数-----#####
com_port: "/dev/gimbal"
yaw_kp: 0
yaw_kd: 0
pitch_kp: 0
pitch_kd: 0

#####-----tracker参数-----#####
min_detect_count: 5
max_temp_lost_count: 15
outpost_max_temp_lost_count: 150

#####-----aimer参数-----#####
yaw_offset: -1 # degree -2.5
pitch_offset: 2.5 # degree 2
comming_angle: 70 # degree
leaving_angle: 30 # degree
min_spin_speed: 2 # rad/s
decision_speed: 12 # rad/s
high_speed_delay_time: 0.005 # s
low_speed_delay_time: 0.005 # s

#####-----decider参数-----#####
mode: 1

#####-----shooter参数-----#####
first_tolerance: 2 # 近距离射击容差，degree
second_tolerance: 0.8 # 远距离射击容差，degree
judge_distance: 0.5 #距离判断阈值
auto_fire: true # 是否由自瞄控制射击

#####-----工业相机标定参数-----#####
R_gimbal2imubody: [1, 0, 0, 0, 1, 0, 0, 0, 1]


# 重投影误差: 0.0603px
camera_matrix: [2318.6413406198758, 0, 706.00988840107982, 0, 2319.0841782597381, 576.70272260508466, 0, 0, 1]
distort_coeffs: [-0.062548620636062979, 0.078086423617440809, 0.00065637201752308586, -0.00051893002090232232, 0]

# 相机同理想情况的偏角: yaw-0.46 pitch-0.95 roll0.78 degree
# 标定板到世界坐标系原点的水平距离: 2.22 m
# 标定板同竖直摆放时的偏角: yaw34.85 pitch5.17 roll0.45 degree
R_camera2gimbal: [0.0078408519555110585, -0.016666310858230417, 0.99983036317316742, -0.99987702738297002, 0.013449140431189924, 0.0080654034900839115, -0.013581279483446389, -0.99977065105154928, -0.016558808639318107]
t_camera2gimbal: [0.17895111220511642, 0.0081211501404892337, -0.06908363097344733]


#####-----planner-----#####
fire_thresh: 0.0035

max_yaw_acc: 50
Q_yaw: [9e6, 0]
R_yaw: [1]

max_pitch_acc: 100
Q_pitch: [9e6, 0]
R_pitch: [1]

#####-----buff_detector参数-----#####
model: "assets/yolo11_buff_int8.xml"

#####-----buff_aimer参数-----#####
fire_gap_time: 0.700   # s
predict_time: 0.120     # s